@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Reddit Sans Condensed", sans-serif;
  }

  body{
    background-color: #ccff33;
  }
  
  header {
    background-color: aqua;
    height: 60px;
    border-radius: 10px;
  }
  
  #life {
    width: 30px; 
    height: auto;
    position: absolute;
    top: 15px; 
    left: 20px;
  }

  main{
    background-color: #ccff33;
    height: 650px;
  }

  .pergunta-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  #pergunta{
    text-align: center;
    background-color: white;
    width: 50%;
    
  }


  #opcoes-respostas{
    margin-top: 70px;
    display: flex;
   flex-direction: column;
   align-items: center;
    gap: 50px;
  }

  

  #opcoes-respostas button {
    width: 200px; 
    height: 50px;
    padding: 10px; 
    background-color:  #990099;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    border: 3px black solid;
  }
  #opcoes-respostas button:hover {
    transform: scale(1.02);
    background-color:  #ff4dff;
  }

  .responder {
    width: 200px;
    position: relative;
    top: 40px;
   left: 50%;
  }
  #botao-proxima-pergunta {
    width: 150px;
    height: 30px;
    padding: 10px; 
    background-color:  #990099;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    border: 3px black solid;
  }

  #botao-proxima-pergunta:hover{
    transform: scale(1.02);
    background-color:  #ff4dff;
  }
  #contador-vida {
    position: absolute;
    top: 20px; 
    left: 60px;
    font-size: 18px; 
    font-weight: bold;
    color: #333;
  }
  
  
  @media (min-width: 768px) {
    header {
      height: 80px; 
    }
    #life {
      width: 40px; 
      top: 20px; 
      left: 30px; 
    }
    #contador-vida {
      top: 25px; 
      left: 90px; 
      font-size: 24px; 
  }
}